/* variables */
:root{
    --primary-color: #cdffe1;
    --secondary-color: #ccc8c5;
}
ul{
    list-style-type: none;
}
body{
    color: var(--secondary-color);
    
}

nav{


}
.navHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1rem;
}
.toggle{
    font-size: 2rem;
    background: transparent;
    border-color: transparent;

}
.logo{
    height: 50px;
    
}

.links{
    height: 0;
}

@media screen and (min-width: 700px){
    .center{
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1rem;
        
    }
    .navHeader{

    }  
    .toggle{
        display: none;
         
    }
    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .links a{
        margin: 1rem;
    }
    
}